{{!-- <footer>Copyright &copy; {{company}}</footer> --}}

<!-- footer -->
<span>Photo by <a href="https://unsplash.com/@alx_andru?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Alex</a> on <a href="https://unsplash.com/s/photos/weather-landscape?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>

<div class="footer">
<div class="container-fluid">
    {{!-- <p>Copyright &copy; AsKMe Pvt Ltd 2019-<?php $today = date("Y"); echo $today;?></p> --}}
    <p>Copyright &copy; {{company}} 2020</p>
</div>
</div>