 <!-- Navigation Bar -->
<nav role="navigation" class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand -->
        <div class="navbar-header">
        <!-- <a class="navbar-brand">NoteAlways</a> -->
        <a class="navbar-brand">Weather App</a>
        
        <button type="button" class="navbar-toggle" data-target="#toCollapse" data-toggle="collapse">
            <span class="sr-only">Toggle Navigation</span>

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        </div>
        <!-- Collapsible content -->
        <div class="navbar-collapse collapse" id="toCollapse">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Home</a></li>
                <li id="about"><a href="about">About</a></li>
                <li id="help"><a href="help">Help</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">  <!--pull-right can also be used-->
                <li><a href="#loginModal" data-toggle="modal">Login</a></li>
            </ul>
        </div>
    </div>
</nav>

{{!-- <h1>{{title}}</h1> --}}


